[submodule "Arduinoboy"]
	path = Arduinoboy
	url = https://github.com/lpla/Arduinoboy
[submodule "synccross"]
	path = synccross
	url = https://github.com/lpla/synccross.git
[submodule "NintendoPCBs"]
	path = NintendoPCBs
	url = https://github.com/lpla/NintendoPCBs.git
[submodule "gb-hardware"]
	path = gb-hardware
	url = https://github.com/lpla/gb-hardware
[submodule "FLASH-ROM-Adapter-mini-version-for-GameBoy"]
	path = FLASH-ROM-Adapter-mini-version-for-GameBoy
	url = https://github.com/Electroniq100/FLASH-ROM-Adapter-mini-version-for-GameBoy
